img[src*="#header"]
{
}

img[src*="#body"]
{
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.image-enclose
{
  span
  {
      text-align: center;
  }
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 1em;
}
