<div class="sidebar material-sidebar">
    <!-- toggle link for responsive version -->
    <span class="sidebar-toggle">
        <i class="fa fa-plus"></i>
    </span>
    <div class="widget">
        <!-- Create -->
            <h3 class="title"><a href="{{ site.baseurl | replace: '//' '/' }}/category/create">Create</a></h3>
            <ul>
            {% for post in site.categories['create'] %}
                 <li {% if page.title == post.title %}class="active-post"{% endif %}>
                   <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        <!-- Maintain -->
            <h3 class="title"><a href="{{ site.baseurl | replace: '//' '/' }}/category/maintain">Maintain</a></h3>
            <ul>
            {% for post in site.categories['maintain'] %}
                 <li {% if page.title == post.title %}class="active-post"{% endif %}>
                   <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        <!-- Share -->
            <h3 class="title"><a href="{{ site.baseurl | replace: '//' '/' }}/category/share">Share</a></h3>
            <ul>
            {% for post in site.categories['share'] %}
                 <li {% if page.title == post.title %}class="active-post"{% endif %}>
                   <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
    </div>
</div>
